<div class="card rounded-5 mb-5" style="width: 16rem; background-color: white;">
    <img class="card-img-top" style="max-width: 200px; max-height: 200px; min-height: 200px; margin: auto; padding: 5%; object-fit: scale-down" src='{{roupas.image}}'>
    <div class="card-body">
      <h5 class="card-title" style="color: black; max-height: 50px; min-height: 50px;">{{roupas.title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{roupas.category}}</li>
      <li class="list-group-item">{{roupas.price | currency}}</li>
    </ul>
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary">Comprar</button>
        <button type="button" class="btn btn-sm btn-outline-primary" style="background-color: white;">Detalhes</button>
    </div>
  </div>