<div class="d-flex justify-content-center mb-5 mt-5">
  <a href="/" class="my-0 mr-md-auto font-weight-normal text-dark text-decoration-none">
    <app-header></app-header>
  </a>
</div>
<div class="d-flex justify-content-center mb-5" style="background-color:#00bfff;">
  <nav class="d-flex justify-content-center">
    
    <a class="p-2 text-dark text-decoration-none border border-dark" style="background-color: #ebe939;" href="#">Promoções</a>
    <a class="p-2 text-dark text-decoration-none border border-dark btn-outline-light" href="#">Produtos</a>
    <div class="input-group border border-danger">
      <span class="input-group-text" id="inputGroup-sizing-default">🔍</span>
      <input type="text" class="form-control" placeholder="Pesquise o seu produto">
    </div>
    <a class="p-2 text-dark text-decoration-none border border-dark btn-outline-light" href="#">Suporte</a>
    <a class="p-2 btn btn-outline-dark" href="#">Cadastro</a>
    <a class="p-2 btn btn-outline-dark" href="#">Login</a>
  </nav>
  <div>
  </div>
</div>
<div class="d-flex justify-content-center" style="background-color: #00bfff; padding-bottom: 1%; padding-top: 1%;">
  <img src="./assets/image/jaqueta1(1).jpg">
</div>
